<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylexu.elibrary.mapper.BookMapper">

	<select id="findById" resultType="com.kylexu.elibrary.model.Book">
		SELECT id,
		       isbn,
		       title,
		       author,
		       type,
		       description,
		       total_copies,
		       available_copies
		FROM books
		WHERE id = #{id}
	</select>

	<select id="findList" resultType="com.kylexu.elibrary.model.Book">
		SELECT id,
		       isbn,
		       title,
		       author,
		       type,
		       description,
		       total_copies,
		       available_copies
		FROM books
		<where>
			<if test="q != null and q != ''">
				AND (
					LOWER(title) LIKE CONCAT('%', LOWER(#{q}), '%')
					OR LOWER(author) LIKE CONCAT('%', LOWER(#{q}), '%')
				)
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
		</where>
		ORDER BY id ASC
	</select>

	<select id="batchGet" resultType="com.kylexu.elibrary.model.Book">
		SELECT id,
		       isbn,
		       title,
		       author,
		       type,
		       description,
		       total_copies,
		       available_copies
		FROM books
		WHERE id IN
		<foreach collection="idList" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

	<update id="decreaseAvailableCopies">
		UPDATE books
		SET available_copies = available_copies - 1
		WHERE id = #{id}
		  AND available_copies &gt; 0
	</update>

	<update id="increaseAvailableCopies">
		UPDATE books
		SET available_copies = available_copies + 1
		WHERE id = #{id}
		  AND available_copies &lt; total_copies
	</update>

</mapper>
